<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Sample Email</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
    <header>
        <img src="https://i.imgur.com/wQf8nUa.png" id="logo"/><br />
        <h1>Go Green Mail confirmation</h1>
        <div th:text="${name}"></div>
    </header>
    <p>Welcome to our Green team. Click on this link to join THE NEW ERA : </p>

    <div th:text="${link}"> </div>
</body>
<html>
<style>
*{
    font-family: 'Quicksand', sans-serif;
}

h1{
    color: green;    
}
img{
    width: 80px;
    
}
body{
    text-align: center;
}
</style>
