<!DOCTYPE html>
<html>
<head>
    <title>Go Green Password Reset</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<body>
<header>
    <img src="https://i.imgur.com/wQf8nUa.png" id="logo"/><br />
    <h1>Go Green Password Reset</h1>
    <h2>Password successfully changed!</h2>
</header>


<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script>
</script>
</body>
</html>

<style>
    *{
        font-family: 'Quicksand', sans-serif;
    }

    html{
        background: #9bc782;
    }

    h1{

        color: white;
    }

    body{
        text-align: center;

    }


    h1{
        font-size: 50px;
    }
</style>